<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    ChartJS
    <small>Preview sample</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Charts</a></li>
    <li class="active">ChartJS</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-6">

      <!-- DONUT CHART -->
      <app-box
      [boxType]="'box-danger'"
      [closeButton]="false">
        <p boxTitle>Doughnut Chart</p>
        <app-chartjs-base
        [labels]="labels"
        [data]="data"
        [colors]="colors"
        boxBody></app-chartjs-base>
      </app-box>
      <!-- /.box -->

      <!-- POLAR CHART -->
      <app-box
      [boxType]="'box-primary'"
      [closeButton]="false">
        <p boxTitle>Polar Chart</p>
        <app-chartjs-base 
        [data]="data"
        [chartType]="'polarArea'"
        boxBody></app-chartjs-base>
      </app-box>
      <!-- /.box -->

    </div>
    <!-- /.col (LEFT) -->
    <div class="col-md-6">
      <!-- LINE CHART -->
      <app-box
      [boxType]="'box-primary'"
      [closeButton]="false">
        <p boxTitle>Line Chart</p>
        <app-chartjs-base
        [chartType]="'line'"
        [datasets]="dataSet"
        [colors]="lineChartColors"
        [labels]="['January', 'February', 'March', 'April', 'May', 'June', 'July']"
        boxBody></app-chartjs-base>
      </app-box>
      
      <!-- /.box -->

      <!-- BAR CHART -->
      <app-box
      [boxType]="'box-success'"
      [closeButton]="false">
        <p boxTitle>Bar Chart</p>
        <app-chartjs-base 
        [chartType]="'bar'"
        [datasets]="dataSet"
        [labels]="labels"
        boxBody></app-chartjs-base>
      </app-box>
      <!-- /.box -->

      <!-- BAR CHART -->
      <app-box
      [boxType]="'box-success'"
      [closeButton]="false">
        <p boxTitle>Radar Chart</p>
        <app-chartjs-base 
        [chartType]="'radar'"
        [datasets]="dataSet"
        [labels]="labelRadar"
        boxBody></app-chartjs-base>
      </app-box>
      <!-- /.box -->

    </div>
    <!-- /.col (RIGHT) -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->