<div class="wrapper">
  <!-- Main Header -->
 <app-shell-header></app-shell-header>
 <!-- Left side column. contains the logo and sidebar -->
 <app-shell-left-side></app-shell-left-side>
 <!-- Content Wrapper. Contains page content -->
 <app-shell-content></app-shell-content>
 <!-- /.content-wrapper -->
 <!-- Main Footer -->
 <app-shell-footer></app-shell-footer>
 <!-- Control Sidebar -->
 <app-shell-control-sidebar></app-shell-control-sidebar>
 <!-- /.control-sidebar -->
 <!-- Add the sidebar's background. This div must be placed
      immediately after the control sidebar -->
 <div class="control-sidebar-bg"></div>
</div>
